/* Estilos para o layout responsivo */
@media (max-width: 576px) {
    .col-sm-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  
  @media (min-width: 576px) and (max-width: 768px) {
    .col-sm-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  @media (min-width: 768px) {
    .col-md-4 {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
  }
  
  /* Estilos para o menu de navegação */
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .nav-link {
    font-size: 1.2rem;
  }
  
  /* Estilos para o header */
  header {
    padding: 20px 0;
    
  }
#carousel {
    padding-top: 40px;
}