body {
    font-family: Roboto,sans-serif;
}

.navbar {
    background-color: #000000;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #000;
}


.nav-noticias .foot-tag.active:hover,
.navbar-brand:hover {
    color: #bf0000;
    scale: 110%;
}

.nav-noticias .ski-tag.active:hover {
    color: #8e8e8e;
    scale: 110%;
}

.nav-noticias .surf-tag.active:hover {
    color: #2b60ff;
    scale: 110%;
}

.navbar-toggler {
    background-color: #ffffff;
}

#carousel .carousel-item {
    max-height: 760px; 
    overflow: hidden; 
}
.carousel {
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    width: 100%;
    height: auto;
}

.carousel-item img { 
    width: 100%; 
    
}

.section-title{
    font-family: "Bree Serif", serif;
}

.text-colored,#cabecalho .nav .nav-link,
.navbar-brand-branco{
    color: #fff;
}

#sobre, #noticias, #destaque,
#fale-conosco{
    background-color: #000;
    color: #fff
    ;
}

.nav-noticias .nav-link.active
{
    background-color: #fff;
    color: #000;
}

.nav-noticias .nav-link:hover{
    color: #b8b8b8;
}



.social-links li{
    list-style: none;
    display: inline;
    margin-right: 6px;
}

.social-links a{
    text-decoration: none;
}

form, textarea {
    max-width: 800px;
    resize: none;
}

#fale-conosco button {
    background-color: #000;
    border: 0.1px solid white;
}
#fale-conosco button:hover {
    background-color: #fff;
    color: #000;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 779px) {
    #destaque .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Responsividade para tablets */
@media (min-width: 780px) and (max-width: 1023px) {
    #destaque .col-md-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* Responsividade para desktops */
@media (min-width: 1024px) {
    #destaque .col-md-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}
